# Python
__pycache__/
*.pyc
venv/
.env

# Streamlit
.streamlit/secrets.toml
secrets.toml

# OS
.DS_Store

# Data (Optional - Comment out if you want to track CSVs)
data/

# Debug files
# debug_*.py

# Debug scripts
debug_*.py
temp_debug_merge.py
test_folium.py

# IDE
.vscode/
.idea/
.md/